.root {
  /* border-right: 1px solid #dce3e8; */
  box-shadow: 5px 0 5px -5px #333;
}

.link {
  color: black;
  text-decoration: none;
  display: flex;
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.link:hover {
  background-color: #dce3e8;
}

.linkActive {
  composes: link;
  background-color: #86c9f8;
}
